body {

    font-family: "Roboto Light", serif;
    color: #1c1c1c;
    text-align: center;
    margin: 0;
    padding: 0;

}

.core {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

.menu {
    display: block;
    align-content: center;
    font-size: 14px;
    text-decoration: none;
}
li {
    display: inline-block;
    list-style: none;
    padding-left: 100px;
}
h1 {
    display: block;
    align-content: center;
    font-family: "Roboto Thin", serif;
    font-size: 70px;
}

.personalInfo::before {
    color: #00208b;

}