body {

    font-family: "Roboto Light", serif;
    color: #1c1c1c;
    text-align: center;
    margin: 0;
    padding: 0;

}

.core {
    width: 1170px;
    margin: 0 auto;

}

.title {
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: #435993;
}



.menu {

    font-size: 14px;
    text-decoration: none;
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #d9d9d9;
}

ul {
    margin-top: 40px;
}
li {
    display: inline-block;
    list-style: none;
    padding: 0 50px;
}
h1 {
    display: block;
    align-content: center;
    font-family: "Roboto Thin", serif;
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

.personalInfo::before {
    color: #00208b;

}

a:hover {
    color: #1c1c1c;
}